{% load static %}
<footer>
    <div class="footer">
        <div class="row">
            <div class="col-sm-6">
              <h3>Quotes</h3>
              <p>We have to step back little bit to jump further in our lives</p>
            </div>
            <div class="col-sm-6">
            <h3>Hit Me Up</h3>
            <a class="fa fa-linkedin" href="https://www.linkedin.com/in/nadila-tusifa-297362194/" ></a>
            <a class="fa fa-instagram" href="https://www.instagram.com/nadiladrew/"></a>
            <a class="fa fa-google" href="mailto:nadilatusifa83@gmail.com"></a>
            </div>
        </div>
    </div>
</footer>
</html>