
{% load static %}

<body>
  <title>Nadila Tusifa</title>
  <div class="header">
    <h1>Gallery</h1>
</div>

{% include 'home/header.html' %}
      <div class="gallery">
        <div class="row">
          <div class="col-sm-4">
            <p>My first organization on collage is DPM.<br></p>
              <img src="{% static 'home/images/dpm.jpg' %}" width="300" height="450" class="img-fluid" alt="Responsive image" >
          </div>

          <div class="col-sm-4">
            <p>This is my first theater show at UIAW 2019 <br></p>
            <img src="{% static 'home/images/pict2.jpg' %}"  width="300" height="300" class="img-fluid" alt="Responsive image">
          </div>

          <div class="col-sm-4">
            <p>My last outside OOTD photo in pandemic year :) </p>
            <img src="{% static 'home/images/pict1.jpg' %}" width="300" height="300" class="img-fluid" alt="Responsive image">
          </div>

          <div class="col-sm-4">
            <p>See you at the future</p>
            <img src="{% static 'home/images/light.jpg' %}" width="300" height="300" class="img-fluid" alt="Responsive image">
          </div>

        <div class="col-sm-4">
          <p>At yayoi kusama exhibition</p>
          <img src="{% static 'home/images/mcn.jpg' %}" width="300" height="300" class="img-fluid" alt="Responsive image">
        </div>

        <div class="col-sm-4">
          <p>No matter how far i'll go, i will back to you</p>
          <img src="{% static 'home/images/infi2.jpg' %}" width="300" height="300" class="img-fluid" alt="Responsive image">
        </div>
    
        <div class="col-sm-4">
          <p>Towards infinity and beyond</p>
          <img src="{% static 'home/images/infi.jpg' %}" width="300" height="300" class="img-fluid" alt="Responsive image">
        </div>

        <div class="col-sm-4">
          <p>Is it looks scary enough? :)</p>
          <img src="{% static 'home/images/alive.jpg' %}" width="300" height="500" class="img-fluid" alt="Responsive image">
        </div>

        <div class="col-sm-4">
          <p>At Haluuu art exhibition</p>
          <img src="{% static 'home/images/halu.jpg' %}" width="300" height="300" class="img-fluid" alt="Responsive image">
        </div>
    
      </div>
    </div>


</body>
{% include 'home/footer.html' %}