{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'home/desain.css' %}">
    
</head>

<body>

    <nav class="navbar navbar-expand-sm justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:gallery' %}">Gallery</a>
          </li>
          <li class ="nav-item">
            <a class="nav-link" href="{% url 'home:story1' %}">Story1</a>
          </li>
          <li class ="nav-item">
            <a class="nav-link" href="{% url 'home:product_list' %}">Courses</a>
          </li>
          <li class ="nav-item">
            <a class="nav-link" href="{% url 'kegiatan:card_kegiatan' %}">Activities</a>
          </li>
          <li class ="nav-item">
            <a class="nav-link" href="{% url 'acordion:mini_profile' %}">Acoridon</a>
          </li>
          <li class ="nav-item">
            <a class="nav-link" href="{% url 'book:book' %}">Library</a>
          </li>
          {% if not request.user.is_authenticated %}
          <li class ="nav-item">
            <a class="nav-link" href="{% url 'login:logging_in' %}">Login</a>
          </li>
          <li class ="nav-item">
            <a class="nav-link" href="{% url 'login:register' %}">Register</a>
          </li>
          {% else %}
          <li class ="nav-item">
            <a class="nav-link" href="{% url 'login:logging_out' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
    </nav>

  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'acordion/js/script.js' %}"></script>

</body>