
{% load static %}
<title>Nadila Tusifa</title>

<body>
  <div class="header">
    <h1>Welcome to My Profile</h1>
  </div>
  
  {% include 'home/header.html' %}

<div class="container">
    <div class="row">
        <div calss="col-sm-6">
            <img src="{% static 'home/images/nadila.jpg' %}" width="200" heigh="300" alt="Fotoku">
            <br>
            <br>
            <h2> Nadila Tusifa <br> </h2>
            <p>Hi, my name is nadila. I was born in Jakarta, 12 August 2000<br>
            I currently study in University of Indonesia as a computer science student and I have many interest such as photography, theater, dance, and also technology<br>
            <img src="{% static 'home/images/kamera.png' %}" width="150" heigh="150" class="img-fluid" alt="Responsive image">
            <img src="{% static 'home/images/teater.png' %}" width="150" heigh="150" class="img-fluid" alt="Responsive image">
            <img src="{% static 'home/images/tari.png' %}" width="200" heigh="200" class="img-fluid" alt="Responsive image">
            <img src="{% static 'home/images/laptop.png' %}" width="100" heigh="100" class="img-fluid" alt="Responsive image">
            </p> 
        </div>
    </div>
</div>

<div class="ed">
  <h4>Education</h4>
  <hr size=12px width=100% style = "border: 5px solid orange; border-radius: 10px;">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p>SMPN 5 Jakarta<br></p>
        <img src="{% static 'home/images/smp5.png' %}" width="200" heigh="200" alt="SMPN5 JKT" class="img-fluid">
    </div>
    <div class="col-sm-4">
      <p>SMAN 1 Jakarta<br></p>
      <img src="{% static 'home/images/sman1.png' %}" width="200" heigh="200" alt="SMAN1 JKT" class="img-fluid">
    </div>
    <div class="col-sm-4">
      <p>Universitas Indonesia</p>
      <img src="{% static 'home/images/UI.png' %}" width="200" heigh="200" alt="UI" class="img-fluid">
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

<div class="ed">
  <h4>Experiences</h4>
  <hr size=12px width=100% style = "border: 5px solid orange; border-radius: 10px;">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p>Vice President Human Resource<br></p>
        <img src="{% static 'home/images/logodpm.png' %}" width="200" heigh="200" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-4">
      <p>Staff of Media Partner<br><br></p>
      <img src="{% static 'home/images/logocf.jpg' %}" width="200" heigh="200" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-4">
      <p>Staff of Sponsorship<br><br></p>
      <img src="{% static 'home/images/logoperak.png' %}" width="200" heigh="200" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>


{% include 'home/footer.html' %}
  
</body>
</html>