
{% load static %}

{% block content %}
<div class="header">
  <h1>Courses</h1>
</div>
{% include 'home/header.html' %}
<br>
    <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="featurette-heading"><b>My Current Courses</b></h2>
        <hr class="mt-0 mb-4">
        <div class="list-group">
            {% for i in listp %}
            <a href="{{ i.id }}" class="list-group-item list-group-item-action"><b>{{ i.namaMatkul }}</b></a>
            {% endfor %}
        </div>
        <br>
        <a class="btn btn-dark" href="{% url 'home:product_create' %}"><b>Add course</b></a>
      <br>
    </div>
  </div>
</div>
<br>


{% endblock %}
{% include 'home/footer.html' %} 