
{% load static %}
{% block content %}
<div class="header">
  <h1>Courses</h1>
</div>
{% include 'home/header.html' %}
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="featurette-heading"><b>Course Detail</b></h2>
        <table class="table" style="text-align: left;" >
        <tbody >
          <tr>
            <th scope="row">Nama matkul</th>
            <td>{{ prod.namaMatkul }}</td>
          </tr>
          <tr>
            <th scope="row">Dosen</th>
            <td>{{ prod.dosen }}</td> 
          </tr>
          <tr>
            <th scope="row">Sks</th>
            <td>{{ prod.jumlahSks }}</td>
          </tr>
          <tr>
            <th scope="row">Semester</th>
            <td>{{ prod.semester }}</td>
          </tr>
          <tr>
            <th scope="row">Ruang Kelas</th>
            <td>{{ prod.ruangKelas }}</td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-danger" href="{% url 'home:product_delete' prod.id %}">Delete Course</a>
      <a type="button" class="btn btn-light" href="{% url 'home:product_list' %}"><b>Back</b></a>
      <a type="button" class="btn btn-info" href="{% url 'home:update' prod.id %}">Update Course</a>
  </div>
</div>
</div>
</br>
{% endblock %}
{% include 'home/footer.html' %}