
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'home/desain.css' %}">
        <title>Nadila tusifa</title>
    </head>

<body>
    <div class="header">
        <h1>Story1</h1>
    </div>
{% include 'home/header.html' %}

<p style="color:black ; text-align: center; font-size: 20px;">Nama: Nadilatusifa <br>
    Angkatan: Maung <br>
    Hobi: Menari,membaca novel, tidur <br>
    Deskripsi tentang saya: Ilkom 2019, anak teater sejak smp, sangat suka acting, suka kucing<br>
    Tempat kuliah: Universitas Indonesia <br>
    Riwayat pendidikan : <br>
    SMPN 5 jakarta <br>
    SMAN 1 jakarta <br>
    Universitas Indonesia <br>
    Sosial media : nadiladrew <br>
    Foto : <br>
    <img src="{% static 'home/images/pict1.jpg' %}" width="200" heigh="300" alt="Kucing"> <br>
</p>

{% include 'home/footer.html' %}
</body>
</html>