{% load static %}
{% block meta %}
<title>login</title>
{% endblock meta %}

{% block content %}
<div class="header">
    <h1>Login</h1>
</div>
{% include 'home/header.html' %}
<section class="main-section d-flex justify-content-center align-items-center text-dark" style="height: 100vh;">
    <form method="POST" action="{% url 'login:logging_in' %}" class="login-form bg-light rounded-lg d-flex flex-column justify-content-center p-4">
        {% if error %}
            <p class="text-center p-2 bg-danger rounded-lg">{{error}}</p>
        {% endif %}
        <h3 class="mb-3 text-center">Login your Account</h3>
        {% csrf_token %}
        {{logging_in}}
        <button id="btn_login" type="submit" class="btn btn-dark" style="padding: 10px 30px; border:none; border-radius:100px 100px 100px 100px">Login</button>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Don't have an account yet??<a href="{% url 'login:register' %}">Create Account</a>
            </div>
        </div>
    </form>
</section>
{% endblock %}
