{% load static %}
{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
<div class="header">
    <h1>Register</h1>
</div>
{% include 'home/header.html' %}
<section class="registration-section d-flex justify-content-center align-items-center text-dark flex-column" style="height: 100vh;">
    {% if error %}
            <p class="text-center p-2 bg-danger rounded-lg">
                {{error}}
            </p>
            <p class="text-center p-2 bg-danger rounded-lg">
                * Setidaknya harus ada 9 karakter<br>
                * Pastikan setidaknya ada 5 huruf
            </p>
    {% endif %}
    <form method="POST" action="{% url 'login:register' %}" class="login-form bg-light rounded-lg d-flex flex-column justify-content-center p-4">
        <h3 class="text-center mb-3">CREATE ACCOUNT</h3>
        {% csrf_token %}
        {{registering}}
        <button type="submit" id="btn_register" class="btn btn-dark" style="padding: 10px 30px; border:none; border-radius:100px 100px 100px 100px">Register</button>
    </form>

</section>
{% endblock %}
{% include 'home/footer.html' %}
