{% load static %}
{% block content %}

<div class="header">
    <h1>Books Library</h1>
</div>
{% include 'home/header.html' %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>




<body style="background-image: url(https://secretcompass.com/wp-content/uploads/2019/04/a-walk-on-lebanon-cover.jpg);">
    <div class="container text-light">
        <!-- <div class="row justify-content-center">
          <div class="col-8"> -->
            {% if request.user.is_authenticated %}
            <div>
                <h1 class="p-2 m-0 accordion-tab text-light" style="font-family: Brush Script MT;">
                    Selamat Datang {{ namanya }}
                </h1>
            </div>
            {% endif %}
            <br>
            <br>
            <br>
            <br>
            <h2>Search Your Books Here</h2>
            <hr size=12px width=100% style = "border: 5px solid orange; border-radius: 10px;">
            <input id="keyword" placeholder="Masukkan kata kunci">
            <ol id="daftar_isi">
            </ol>
          
           
    </div>
</body>
<script type="text/javascript">
    $("#keyword").keyup(function(){
        var ketikan = $("#keyword").val();
        console.log(ketikan);
        //panggil teknik AJAX
        $.ajax({
            url : '/data?q=' + ketikan,
            success : function(data){
                console.log(data); //buat ngambil object yang dimasukkan dalam ketikan
                var array_items = data.items;
                console.log(array_items); //buat ngambil object dari data.items
                $("#daftar_isi").empty();
                for(i= 0; i<array_items.length; i++){
                    var judul = array_items[i].volumeInfo.title;
                    var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                    $("#daftar_isi").append( "<li>" + judul +"<br><img src=" + gambar +"><br><br><br></li>"
                               
                    );
                }
            }

        });

    });

</script>
{% endblock %}
{% include 'home/footer.html' %}