
.header {
    background-color: rgb(235, 101, 190);
    padding: 40px; 
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: black;
}
body{
    background-image: linear-gradient(whitesmoke, pink);
    font-family: Verdana,sans-serif;

}
h2{
    font-weight: bold;
    color: white;
}
h1{
    font-weight: bold;
}
h3{
    font-weight: bold;
}
h4{
    font-weight: bold;
}


.footer{
    background-color: rgb(235, 101, 190);
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}
.container{
    padding: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: verdana;
    font-size: 20px;
    color: black;
}
.ed{
    background-color: beige;
    text-align: center;
    font-size: 20-x;
    padding: 50px;
    color: black;
}

.fa{
    font-size: 20px;
    width: 20px; height: 20px; border-radius: 20px;
    text-align: center; text-decoration: none;
    color: white; background-color: black;
}
a{
    color: rgb(247, 172, 12);
    border-radius: 20px;

}
.gallery .col-sm-4{
    padding: 100px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: verdana;
    font-size: 16px;
    color:black;
}


@media only screen and (max-width: 600px) {
    .header{
        font-size: 1rem;
        background-color: whitesmoke;
        padding: 30px;
        text-align: center;
        font-size: 10px;

    } 
    a{
        color: red;
        border-radius: 6px;
    }

}
@media  (min-width: 1100px) {
    body{
        font-size: 1.5rem;
    }
    
}
