
{% load static %}
{% block content %}

<div class="header">
    <h1>More About Me</h1>
</div>
{% include 'home/header.html' %}

<br>
<br>
<br>

    <section class="h-main container-fluid" id="main-bg">
        <div class="row">
            <div class="col-lg-6 col-sm-12 h-main d-flex justify-content-center align-items-center flex-column">
                    <img class="w-50 bg-dark p-2 rounded-lg" src="{% static 'home/images/nadila.jpg' %}">
                    <div class="mt-2 bg-dark text-light p-1 rounded-lg">
                        Hello, I'm nadila
                    </div>
                    <br>
                    <br>
                    <br>
            </div>
            <div class="col-lg-6 col-sm-12 h-main p-2">
                <div id="accordion">
                    <h3 position="0" class="p-2 m-0 accordion-tab text-light bg-dark">
                        My Hobbies
                        <span class="mx-1 float-right down" id="down">
                            ↓
                        </span>
                        <span class="mx-1 float-right up" id="up">
                            ↑
                        </span>
                    </h3>
                    <p position="0" class="p-1 m-0 bg-success text-light bg-info">
                        Saya suka menari sejak SMA , saya biasanya menari modern dance dan saya suka mengikuti tutorial dance di youtube<br>
                        lalu dari dulu saya suka akting, saya juga anggota teater saat ekskul di SMP dan SMA, dan saya pernah mengikuti beberapa lomba<br>
                        terakhir saya suka membaca dan mendengarkan musik saat waktu senggang sehari-hari
                    </p>
                    <h3 position="1" class="p-2 m-0 accordion-tab text-light bg-dark">
                        Experience in Organisation 
                        <span class="mx-1 float-right down" id="down">
                            ↓
                        </span>
                        <span class="mx-1 float-right up" id="up">
                            ↑
                        </span>
                    </h3>
                    <p position="1" class="p-1 m-0 bg-success text-light bg-info">
                       Vice President Human Resource at DPM Fasilkom UI <br>
                       Staff of sponsorship of Perak Fasilkom UI<br>
                       Staff of media partner of COMPFEST 12<br>
                    </p>
                    <h3 position="2" class="p-2 m-0 accordion-tab text-light bg-dark">
                        Where do I live?
                        <span class="mx-1 float-right down" id="down">
                            ↓
                        </span>
                        <span class="mx-1 float-right up" id="up">
                            ↑
                        </span>
                    </h3>
                    <p position="2" class="p-1 m-0 bg-success text-light bg-info">
                        Saya tinggal di Jakarta Barat namun saya berkuliah di Universitas Indonesia, Depok<br>
                        saya dari kecil sampai besar tinggal di Jakarta dan belum pernah pindah tempat tinggal
                    </p>
                    <h3 position="3" class="p-2 m-0 accordion-tab text-light bg-dark">
                        My Favorite Music
                        <span class="mx-1 float-right down" id="down">
                            ↓
                        </span>
                        <span class="mx-1 float-right up" id="up">
                            ↑
                        </span>
                    </h3>
                    <p position="3" class="p-1 m-0 bg-success text-light  bg-info">
                        Saya suka mendengar musik Pop dan RnB <br>
                        saat ini saya sering mendengarkan musik instrumen ikson, musik Justin Bieber, dan Maroon5<br>
                        musik membuat hari saya merasa lebih baik dan menyenangkan
                    </p>
                    <h3 position="4" class="p-2 m-0 accordion-tab text-light bg-dark">
                        Achievement
                        <span class="mx-1 float-right down" id="down">
                            ↓
                        </span>
                        <span class="mx-1 float-right up" id="up">
                            ↑
                        </span>
                    </h3>
                    <p position="4" class="p-1 m-0 bg-success text-light bg-info">
                        Juara 1 Lomba Teater Jakarta Pusat 2016<br>
                        Juara 3 Fesrival Teater Jakarta 2017 <br>
                        Juara favorit Festival Lenong di TIM 2018<br>
                        
                    </p>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
{% include 'home/footer.html' %}