{% load static %}
{% block content %}
<!DOCTYPE html>
<header>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'kegiatan/desain.css' %}">
</header>
    <div class="header">
        <h1>Activities</h1>
    </div>
    {% include 'home/header.html' %}
    <div class="container">
        <!-- <div class="row justify-content-center">
          <div class="col-8"> -->


            <div class="container-fluid justify-content-center">
                <div class="row justify-content-center"></div>
                <h2 class="featurette-heading"><b>My Current Activities</b></h2>
               {% for a in keg_par %}
              

              
                <div class="row justify-content-center">
                    <div class="col-sm-3">
                        <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{ a.0.namaKegiatan }}</div>
                        <div class="card-body text-primary">
                            <p class="card-text">
                                <a type="button" class="btn btn-info" href="{% url 'kegiatan:tambah_peserta' %}">Join activity</a>
                                <p>{% for b in a.1 %}</p><br>
                                {{ b.nama }}
                                {% endfor %}

                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

                <br>
                
            {% endfor %}
            <br> 
            <a class="btn btn-dark justify-content-center " href="{% url 'kegiatan:tambah' %}"><b>Add activitiy</b></a>
            <br>
            <br> 
    </div>      


         
</html>

{% endblock %}
{% include 'home/footer.html' %}
