{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="header">
        <h1>Activities</h1>
    </div>
{% include 'home/header.html' %}
<br>
<div class="container">
    <!-- <div class="row justify-content-center">
      <div class="col-8"> -->
        <h2>Join Activity</h2>
        <hr class="mt-0 mb-4">
        <form method="POST">
          {% csrf_token %} 
          {{ form|crispy }}
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a type="button" class="btn btn-light" href="{% url 'kegiatan:card_kegiatan' %}"><b>Back</b></a>
        </form>
</div>
{% endblock %}
{% include 'home/footer.html' %}